<h3 mat-subheader>Encode</h3>
<form novalidate>
  <mat-list-item>
    <span mat-line>
      <mat-form-field class="thirdWidth">
        <input matInput #latitude placeholder="Latitude" name="latitude">
      </mat-form-field>
      <mat-form-field class="thirdWidth">
        <input matInput #longitude placeholder="Longitude" name="longitude">
      </mat-form-field>
      <mat-form-field class="thirdWidth">
        <input matInput #accuracy type="number" placeholder="Accuracy" name="accuracy" min="0" max="100">
      </mat-form-field>
    </span>
    <button mat-raised-button color="primary" (click)="encode(latitude.value, longitude.value, accuracy.value, $event)">OK</button>
  </mat-list-item>
</form>
