@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,400italic";

body {
  margin: 0;
  font-family: Roboto, sans-serif;
  background-color: whitesmoke;
}

.fullWidth {
  width: 100%;
}

.thirdWidth {
  width: calc(100% / 3);
}

.mat-line {
  margin-right: 20px !important;
}

.mat-subheader {
  margin-top: 0 !important;
}
